@font-face {
  font-family: "lato";
  src: url(assets/Lato-Light.ttf);
}

*, body{
  font-family: "lato", serif;
}

#game{
  background-image: url(assets/pexels-juan-pablo-serrano-arenas-1242348.jpg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

#newGame{
  top: 50px !important;
  cursor: pointer;
}

#newGame .icone{
  background-image: url(assets/plus-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  object-fit: cover;
}

#newGame .icone, #rollDice .icone, #hold .icone{
  width: 20px;
  height: 20px;
}


#player1, #player2{
  height: 400px;
}

.user{
  top: 94px;
  right: 100px;
  display: none;
}

.title{
  margin-top: 80px;
}

.global{
  font-size: 50px;
}

.current{
  width: 125px;
  margin: auto;
  margin-top: 40px;
}

.currentScore{
  font-size: 25px;
}

#dice{
  width: 100px;
  height: 100px;
  top: 350px;
}

.diceFace{
  width: 100px;
  height: 100px;
}

.eltDice{
  width: 15px;
  height: 15px;
}

.one{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.two{
  left: 10px;
  top: 10px;
}

.three{
  right: 10px;
  bottom: 10px;
}

.four{
  top: 10px;
  right: 10px;
}

.five{
  left: 10px;
  bottom: 10px;
}

.six{
  top: 50%;
  left: 10px;
  transform: translateY(-50%)
}

.seven{
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.diceFace{
  display: none;
}

#rollDice, #hold{
  top: 400px;
  cursor: pointer;
}

#rollDice .icone{
  background-image: url(assets/rotate-solid.svg);
  background-repeat: no-repeat;
}

#hold img{
  width: 75%;
}

#winner{
  font-size: 50px;
  font-weight: bolder;
  display: none;
}

@media screen and (min-width: 576px){

  .user{
    right: 160px;
    top: 100px;
  }
}

@media screen and (min-width: 768px){

  #player1, #player2{
    height: 500px;
  }

  #dice{
    top: 150px;
  }

  .user{
    right: 80px;
  }
  
  .current{
    margin-top: 120px;
  }

  #rollDice, #hold{
    left: 50%;
    transform: translateX(-50%);
  }

  #rollDice{
    top: 325px;
  }

  #hold{
    margin: 0px;
    top: 400px;
  }
  
}

@media screen and (min-width: 992px){
  
  #player1, #player2{
    height: 600px;
  }

  #dice{
    top: 200px;
  }

  .user{
    top: 102px;
    right: 130px;
  }

  .current{
    margin-top: 150px;
  }

  #rollDice{
    top: 355px;
  }

  #hold{
    top: 430px;
  }

}

@media screen and (min-width: 1200px){

  .user{
    top: 104px;
    right: 160px;
  }

}